/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

.jumbotron {
  background-image: url('specialty.jpg');
  width: 700px;
  height: 400px;
  margin: auto;
  text-align: center;
}
.card-title {
  font-weight: bold;
  text-align: center;
}
#card1 {
  background-color: #FE8F77;
  height: 175px;
  width: auto;
}
#card2 {
  background-color: #FEF590;
  height: 175px;
  width: auto;
}
#card3 {
  background-color: #FDB768;
  height: 175px;
  width: auto;
}
#card4 {
  background-color: #B0DC7A;
  align: center;
}
#product_card {
  background-color: #FEAB6D;
}
